<%= fields_for "employee[skill_tags]", skill_tag do |skill_tag_form| %>
  <p>
    name: <%= text_field_tag "employee[skill_tags][#{skill_tag['name']}][name]", skill_tag['name'] %>
    rate: <%= text_field_tag "employee[skill_tags][#{skill_tag['name']}][rate]", skill_tag['rate'] %>
  </p>
<% end %>

