<%= fields_for "employee[skill_tags]", skill_tag do |skill_tag_form| %>
  <p>
    <% stamp = Time.current.to_f.to_s.sub('.','') %>
    name: <%= text_field_tag "employee[skill_tags]['#{stamp}'][name]", skill_tag['name'] %>
    rate: <%= text_field_tag "employee[skill_tags]['#{stamp}'][rate]", skill_tag['rate'] %>
    <%= link_to 'remove','', :id => 'remove_skill' %>
  </p>
<% end %>

