/************************************************************************
HTML5 FIX
*************************************************************************/

* { margin:0; padding:0; border:0;}
figure, footer, header, nav, section, figcaption { display: block; }

/************************************************************************
MAIN LAYOUT
*************************************************************************/

/* Default body format */
body {
	font-size: 13px;
	font-family: Arial, Helvetica, Verdana, san-serif;
	line-height: 23px;
	position: relative;
	text-align: center;
	color: #000;
}

/************************************************************************
GRID
*************************************************************************/
#wrapper { 
	width: 720px;
	position: relative;
	text-align: left;
	margin: 0 auto;
	padding-bottom: 35px;
}
.grid1, .grid2, .grid3, .grid4, .grid5, navigation{
	float: left;
	margin: 0 20px 20px 0;
	display: block;
	overflow: hidden;
}
	.grid1{
		width: 220px;
	}
		.grid1.margin_no_side{
			width: 240px;
		}
	.grid2, navigation{
		width: 300px;
	}
	.grid3{
		width: 400px;
	}
	.grid4{
		width: 460px;
	}
	.grid5{
		width: 720px;
	}

.no_side_margin{
	margin-left: 0px;
	margin-right: 0px;
}
header{
	padding-top: 40px;
}
h1{
	height: 40px;
}
p{
	padding: 0 0 22px 0;
}
.padding_left{
	padding-left: 22px;
}
.margin_left{
	margin-left: 22px;
}
.padding_top{
	padding-top: 22px;
}
.padding_bottom{
	padding-bottom: 22px;
}
.margin_bottom{
	margin-bottom: 22px;
}
.padding_no_side{
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.margin_no_side{
	margin-left: 0px !important;
	margin-right: 0px !important;
}
.padding_no_bottom{
	padding-bottom: 0px;
}
.margin_no_bottom{
	margin-bottom: 0px;
}

/************************************************************************
FONT, COLORS AND STYLE
*************************************************************************/

/* Link styling */
a:link, a:visited, a:active {
	color: #ba4c16;
	text-decoration: none;
	border-bottom: 1px dotted #ba4c16;
}
a:hover {
	color: #333;
	border-color: #333;
}

/* Headings */
h1 {
	font-size: 50px;
	font-family: arial;
	text-transform: uppercase;
	line-height: 42px;
}
h2 {
	font-size: 14px;
	color: #707070;
}
h3 {
	font-size: 18px;
	color: #BA4C16;
	font-family: arial;
}
h4 {
	font-size: 16px;
}
h5 {
	font-size: 14px;	
}
h6 {
	font-size: 14px;
	font-weight: normal;
}

/* Lists */
ul{
	list-style-type: disc;
	list-style-position: inside;
	margin-bottom: 22px;
}
ol{
	list-style-type: decimal;
	list-style-position: inside;
	margin-bottom: 22px;
}
ol li ol, ul li ul {
	margin: 11px 22px;
}

/* Extra elements */
blockquote {
	color:#777;
	font-size:16px;
	letter-spacing:0;
	line-height:24px;
	margin:15px;
}
blockquote.pullquote_right {
	float:right;
	width:40%;
}
blockquote.pullquote_left {
	float:left;
	width:40%;
}
pre{
	margin:10px 0;
	padding:0 5px;
	width:95%;	
	line-height: 18px;
	background:url("../images/pre-bg.gif") repeat scroll 0 0 #E8EBEC;
}
figure{
	margin-bottom: 22px;	
}
figcaption{
	text-align: center;
	vertical-align: baseline;
	line-height: 18px;	
	font-size: 11px;
	color: #777;
	font-style: italic;
}
.ruler h2{
	font-size: 14px;
	font-style: italic;
	color: #707070;
	font-weight: normal;
	border: 1px solid #b0b0b0;
	border-bottom-color: #D6D6D6;
	border-right-color: #D6D6D6;
	border-top-color: #A4A4A4;
	border-left-color: #A4A4A4;
}

/* Font, color style selectors */
.font_huge{
	font-size: 18px;
}
.font_big{
	font-size: 14px;
}
.font_normal, body{
	font-size: 12px;
	color: #323232;
	font-family: 'Droid Serif', Georgia, arial, serif;
	line-height: 22px;
}
.font_small, label span{
	font-size: 11px;
	color: #777;
	font-weight: normal;
}

.button, a:link.button, a:visited.button, a:active.button{
	font-family: 'Droid Serif', Georgia, arial, serif;
	font-size: 14px;
	color: #FFF;
	text-decoration: none;
	text-shadow: 0 -1px 0 #9D4217;
	border: none;
}
	a:hover.button{
		color: #FFF;
	}
footer{
	color: #777;
	font-size: 11px;
}
	footer a:link, footer a:active, footer a:visited{
		color: #777;
		border-bottom: 1px dotted #777;
		text-decoration: none;
	}
	footer a:hover{
		color: #333;
		border-color: #333;
	}
	footer div{
		padding-top: 5px;	
	}

.italic{
	font-style: italic;
}

/************************************************************************
VISUALS
*************************************************************************/
body, html{
	background: transparent url(../images/texture.png) repeat 0 0;
}
#wrapper{
	background: transparent url(../images/background.jpg) no-repeat 0 0;
}
.round_left, .round, nav a, input, textarea, .ruler h2{
	border-bottom-left-radius: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-top-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
}
.round_right, .round, input, textarea, .ruler h2{
	border-top-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	border-bottom-right-radius: 3px;
	-moz-border-radius-bottomright: 3px;
}
.inset, h3{
	text-shadow: 0 1px 0 #D9D9D9;
}
.shadow, .gallery a{
	-moz-box-shadow: 0px 1px 3px #777;
	-webkit-box-shadow: 0px 1px 3px #777;
	box-shadow: 0px 1px 3px #777;
}
.border, .gallery img, figure img, pre{
	border: 1px solid #7C7C7C;
}

hr{
	display: block;
	width: 100%;
	border: none;
	border-top: 1px solid #939393;
	border-bottom: 1px solid #D6D6D6;
	clear: both;
}

.ruler{
	position: relative;
	height: 22px;
	width: 400px;
	text-align: center;
	padding-bottom: 10px;
}
	.ruler hr{
		position: absolute;
		left: 0px;
		top: 10px;
		width: 400px;
		z-index: 1;
	}
	.ruler div, .ruler h2{
		position: relative;
		margin: 0 auto;
		z-index: 5;
		display: inline-block;
		padding: 0px 15px;
		background: transparent url(../images/texture.png) repeat 0 0;
	}
	
.button.big{
	background: transparent url(../images/button.png) no-repeat 0 top;
	width: 220px;
	height: 34px;
	display: block;
	text-align: center;
	padding-top: 10px;
}
	button.button.big{
		height: 44px;
		padding-top: 0px;
	}
	.button.big:hover{
		background-position: 0 bottom;
	}

.gallery{
	list-style-type: none;	
	list-style-position: inherit;
}
.gallery li{
	float: left;
	padding: 0 12px 12px 0;
}
	.gallery a:link, .gallery a:visited, .gallery a:active{
		border: none;
		opacity: 0.6;
		display: inline-block;
		padding: 0px;
		margin: 0px;
		line-height: 0px;
	}
	.gallery a:hover{
		border: none;
		opacity: 1;
	}

footer .grid1{
	margin: 0px;
	text-align: right;
	width: 240px;
}

.align_right, navigation{
	text-align: right;
}
.clearfix, .gallery a{
	overflow: hidden;
	_overflow: visible;
	zoom: 1;
}
.spacer{
	height: 1px;
	clear: both;
	display: block;
}

/************************************************************************
NAVIGATION
*************************************************************************/
ul.nav{
	list-style-type: none;
	height: 340px;
	padding-top: 40px;
}
ul.nav  li{
	text-align: right;
}

/**
 * Style default state navigation item
 */
ul.nav li a:link, ul.nav li a:visited, ul.nav  li a:active{
	padding: 6px 15px;	
	text-decoration: none;
	color: #FFF;
	margin-bottom: 5px;
	background: #323232;
	display: inline-block;
	border: none;
}

/**
 * Style of the navigation item when hovered
 */
ul.nav  li a:hover, ul.nav  li.active a{
	background: #BA4C16 !important;
}

label{
	display: block;
	font-weight: bold;
}
	label span{
		display: inline-block;
		padding-left: 5px;
	}

/************************************************************************
FORM
*************************************************************************/

form ol{
	list-style-type: none;	
}
form ol li{
	display: block;
	padding-bottom: 10px;
}
input, textarea{
	font-size: 11px;
	font-family: 'Droid Serif', Georgia, arial, serif;
	padding: 8px 12px;
	background: #b9b9b9;
	border: 1px solid #b0b0b0;
	border-bottom-color: #D6D6D6;
	border-right-color: #D6D6D6;
	border-top-color: #A4A4A4;
	border-left-color: #A4A4A4;
	width: 300px;
	line-height: 14px; 
}
.focus.invalid{
  color: #C00 !important;
}
input:focus:required:invalid, textarea:focus:required:invalid {
  color: #C00 !important;
}
input.valid, textarea.valid, input:valid, textarea:valid{
	background: #B9B9B9 url(../images/tick.png) no-repeat 298px 8px;	
}
.placeholder{
	color: #777 !important;
	background-image: none !important; /* Fix for opera */
}
input::-webkit-input-placeholder {
	color: #777 !important;
}

/************************************************************************
PRINT
*************************************************************************/
@media print{
	body, html{
		background: none;
		font-family: Arial, Helvetica, sans-serif !important;
		color: #000 !important;
		font-size: 12pt !important;		
	}
	.nav, .gallery, .ruler, form, nav, footer{
		display: none;
	}
	header{
		margin: 0px !important;
		padding: Opx !important;	
	}
	a:link:after, a:visited:after {
   		content: " (" attr(href) ") ";
   		font-size: 90%;
   	}
	a[href^="/"]:after {
  		content: " (" attr(href) ") ";
   }
}