<div class="grid2 margin_no_bottom"> 
	<nav> 
		<ul class="nav"> 
			<li class="active"><a href="index.html">Home</a></li> 
			<li><a href="about.html">About Our Project</a></li> 
			<li><a href="gallery.html">Photo Gallery</a></li> 
			<li><a href="contact.html">Contact</a></li> 
            <li><a href="typography.html">Typography</a></li> 
		</ul> 
	</nav> 
</div> 
<header class="grid3 no_side_margin"> 
	<h1 class="inset">Skills Database</h1> 
	<div class="font_huge inset">At veros os et accusamus et iusto degnissimos</div> 
</header> 
<div class="grid3 no_side_margin"> 
	<div class="ruler"> 
		<hr /> 
		<% if @profile %>
		<h2>Welcome <%= @profile.first_name %> <%= @profile.last_name %></h2> 
		<% end %>
	</div> 
	<p>At vero eos et accusamus blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p> <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus Temnobis est eligendi optio.
	</p> 
	<div class="ruler"> 
  <hr /> 
		<div><img src="/images/organic.png" alt="Organic detail" /></div> 
	</div> 
</div>