  <script type="in/login" data-onAuth="onLinkedInAuth">
  	Hello, <?js= firstName ?> <?js= lastName ?>
	
	<?js if (pictureUrl) { ?>
	  <img src="<?js= pictureUrl ?>"></img>
	<?js } else { ?>
	  <p>Upload a photo, so we can see what you look like.</p>
	<?js } ?>
	
  </script>
   		
<div id="userprofile">
	
</div>

<div><script type="IN/Share" data-url="http://developer.linkedin.com/"></script></div>

<script type="IN/MemberData" data-ids="me">
<?js if ($("me").pictureUrl) { ?>
  <img src="<?js= $("me").pictureUrl ?>"></img>
<?js } else { ?>
  <p>Upload a photo, so we can see what you look like.</p>
<?js } ?>
</script>

<script type="IN/MemberData" data-ids="me" data-fields="firstName,lastName,industry">
<ul>
<?js for (var member in $("*")) { ?>
    <li><?js= $(member).firstName ?> <?js= $(member).lastName ?> 
    works in the <?js= $(member).industry ?> profession.</li>
<?js } ?>
</ul>
</script>


<div>

  <%=h @myProfile %>

</div>
