<div class="grid1"> 
	<div class="font_small"><strong>Updated:</strong> <%= Time.now %></div> 
	<h3 class="inset">Billy Zane</h3> 
	<p class="padding_no_bottom">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p> 
	<a href="gallery.html">More details</a> 
</div> 
<div class="grid1"> 
	<div class="font_small"><strong>Updated:</strong> <%= Time.now %></div> 
	<h3 class="inset">John Doe</h3> 
	<p class="padding_no_bottom">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p> 
	<a href="about.html">More details</a> 
</div> 
<div class="grid1 margin_no_side"> 
	<div class="font_small"><strong>Updated:</strong> <%= Time.now %></div> 
	<h3 class="inset">Finnigan Bell</h3> 
	<p class="padding_no_bottom">Lorem ipsum dolor sit amet, consectetur sit amet adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p> 
	<a href="typography.html">More details</a> 
</div> 

<div class="grid5"> 
	<hr /> 
	<div class="grid4 font_big padding_top"> 
		<p class="padding_left padding_no_bottom"><em>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </em></p> 
	</div> 
	<div class="grid1 padding_top"> 
		<a href="#" class="button big">Join Our Project</a> 
	</div> 
</div>