<li><%= link_to event.employee.full_name, event.employee %> updated her <%= event.changes.collect{|event| t(event) }.join(', ').strip %> <%= distance_of_time_in_words_to_now(event.created_at) %> ago</li>

